body {
    text-align: center;
}

img{
    width: 100%;
}


.living-room {
    position: relative;
    width: 1200px;
    height: 760px;
    margin: auto;
}

.matzo {
    display: none;
    width: 100px;
    position: absolute;
    top: -100px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    position: absolute;
    width: 100%;
    top:0;
  }
  .grid-item {
    padding: 18%;
    position: relative;
    color: transparent;
 
  }

  .text {
      display: none;
      position: absolute;
      border: 3px solid black;
      top: 10%;
      left: 10%;
      width: 30%;
      background: white;
  }

  .pointer {
    cursor: pointer;
  }

